.emaillist{
    flex: 1;
    overflow:scroll;
}
.emaillist__settings{
    position:sticky;
    top:0;
    border-bottom: 1px solid whitesmoke;
    display:flex;
    justify-content:space-between;
    z-index: 999;
    padding-right: 10px;
}
.emaillist__section{
    position:sticky;
    top:0;
    display:flex;
    border-bottom: 1px solid whitesmoke;
    background-color:white;
    z-index:998;
}